.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImg {
    background-color: #ffffff;
    padding: 0.2rem;
    margin: 0.2rem;
    max-height: 20rem;
    height: auto;
    width: auto;
    max-width: 40%;
    padding: 0.2rem;
}

.projectText {
    padding-left: 2rem;
    max-width: 16%;
    font-size: 1.0625rem;
}

.projectDetails {
    max-width: 70%;
    font-size: 1.0625rem;
    margin: 0 auto;
    background: #120d0a;
    outline: 0.2rem solid white;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.github-link {
    color: #e2b882;
}

.preamble {
    font-size: 1.0625rem;
    max-width: 45%;
    text-align: center;
    color: #fff;
}

.preambleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickabletext {
    color: #e2b882;
}

.clickabletext:hover {
    color: #d68b3f;
}

@media (max-width: 1000px) {
  .project {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .projectImg {
    max-height: 18.75rem;
    height: auto;
    width: auto;
    max-width: 70%;
  }

  .projectText {
    padding-left: 0rem;
    width: 100%;
    max-width: 70%;
    text-align: center;
  }

  .preamble {
    max-width: 70%;
  }

}
