.band {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandImage {
    width: 100%; 
    max-width: 40%;
    height: auto;
    background-color: white;
    padding: 0.2rem;
}

.bandText {
    padding-left: 2rem;
    max-width: 20%;
    font-size: 1.0625rem;
}

.preamble {
    font-size: 1.0625rem;
    max-width: 45%;
    text-align: center;
    color: #fff;
}

.preambleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotifyWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

iFrame {
    border-radius: 1.5rem;
}

@media (max-width: 1000px) {
  .band {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 70%; /* make image responsive */
  }

  .bandText {
    padding-left: 0rem;
    width: 100%;
    max-width: 70%;
    text-align: center;
  }

  .preamble {
    max-width: 70%;
  }

}
