#root {
    padding-top: 3.125rem;
}

.all {
    text-align: center;
}

.subheader {
    font-family: 'Baskerville Light', serif;
    font-size: 1.5rem;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 1);
}

.header {
    font-family: 'Felix Titling', serif;
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 1);
}

.page {
    font-family: 'Felix Titling', serif;
    font-size: 2.5rem;
}

.headshotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.headshot {
    max-width: 12rem;
    height: auto;
}

.clickabletext {
    color: #e2b882;
}

.clickabletext:hover {
    color: #d68b3f;
}

@media (max-width: 1000px) {
  .header {
    display: block;
  }
  .subheader {
    display: block;
  }
}
