.text {
    font-size: 1.0625rem;
    max-width: 45%;
    text-align: center;
    color: #fff;
}

.textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding-top: 0.625rem;
}

@media (max-width: 1000px) {
    .text {
        max-width: 70%;
    }
}