.navbar {
    font-family: 'Baskerville Light';
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 1.1rem;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-links li {
    padding: 0.01rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 1);
}

.nav-links Link {
    padding-bottom: 0.125rem;
}

.nav-links .active {
    color: #e2b882;
    background-color: rgba(0, 0, 0, 0.499);
    padding: 0.14rem;
    border-radius: 0.175rem;
}

@media (max-width: 1000px) {
    .nav-links li {
        padding: 0.1rem;
    }
}