.art-gallery img, .art-gallery video {
    width: 100%; 
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block; 
    object-fit: cover;
    background-color: white;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.video-wrapper {
    position: relative;
}

.video-wrapper .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    pointer-events: none;
    transition: opacity 0.2s ease; 

}

.video-wrapper:hover .play-icon {
    opacity: 0;
}

.art-gallery {
    column-width: 15rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.6rem;
}

@media (max-width: 1000px) {
    .art-gallery {
        column-width: 18.75rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 0.6rem;
    }
}