.art-gallery img {
  width: 100%; 
  max-width: 18.75rem;
  height: auto;
  margin: 0 auto;
  display: block; 
  object-fit: cover;
  background-color: white;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.art-gallery {
  column-width: 18.75rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.6rem;
}